
APP_NAME=(optional) app name
PORT=port_default_3000
DATABASE_URL=link_to_database

ACCESS_TOKEN_SECRET=your_token_secret_random_bytes
REFRESH_TOKEN_SECRET=your_token_secret_random_bytes

SEED_ADMIN_PASSWORD=admin_password

REDIS_URL=redis://localhost:6379