:root {
  --header-height: 3rem;
  --background: oklch(98.5% 0 none);
  --foreground: oklch(14.1% 0.005 285.823);
  --muted-foreground: oklch(55.2% 0.016 285.938);
  --primary: oklch(48.8% 0.243 264.376);
  --muted: oklch(92% 0.004 286.32);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Geist', sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.nav {
  width: 100%;
  height: var(--header-height);
  border-bottom: solid 1px #ddd;
  position: sticky;
  top: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background: var(--background);
}

.foreground {
  color: var(--foreground);
}

.muted {
  background: var(--muted);
}

.muted-foreground {
  color: var(--muted-foreground);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 400;
}

.nav-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.btn {
  padding: 0 1rem;
  border-radius: 9px;
  border: none;
  outline: none;
  height: 2rem;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
}

.btn-outline {
  border: solid 1px #ddd;
  background-color: transparent;
}

.app {
  min-height: calc(100vh - var(--header-height));
  padding: 1rem;
}

footer {
  padding: 1rem;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .app {
    padding: 1rem 2rem;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  .app {
    padding: 1rem 3rem;
  }
}
