<header class="nav">
  <div class="nav-container">
    <div class="nav-logo">Cold Storage Monitoring System</div>

    <nav class="nav-buttons">
      <button type="button" aria-label="button-login" class="btn btn-primary">Login</button>
      <button type="button" aria-label="button-report" class="btn btn-outline">Laporkan Masalah</button>
    </nav>
  </div>
</header>
